* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

#play-ground {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 0;
  width: 770px;
  height: 770px;
  border: #ffffff solid 1px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 80%;
  height: 80%;
  visibility: hidden;
}

.good-food-item {
  width: 45%;
  height: 45%;
  visibility: visible;
  border-radius: 17%;
  transform: rotate(45deg);
  background-color: #fcfa81;
}

.neutral-food-item {
  width: 45%;
  height: 45%;
  visibility: visible;
  border-radius: 17%;
  transform: rotate(45deg);
  background-color: #ff6f6f;
}

.bad-food-item {
  width: 45%;
  height: 45%;
  visibility: visible;
  border-radius: 17%;
  transform: rotate(45deg);
  background-color: #2c2c2c;
}

.snake-item {
  visibility: visible;
  border-radius: 15%;
  background-color: #b4ffa4;
}

.snake-head-item {
  width: 80%;
  height: 80%;
  visibility: visible;
  border-radius: 15%;
  transform: rotate(0deg);
  background-color: #71cf5b;
}